<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="react-app">Loading ...</div>
    <script src="/build.js"></script>
  </body>
</html>
